{% extends "global/Page.html" %}
{% load static %}

{% block title %}
    Payoff Matrix
{% endblock %}

{% block content %}
<style>
    .matrix-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .matrix-row {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .matrix-labels {
      display: flex;
      align-items: center;
    }

    .matrix-label-content {
        font-weight: bold;
        margin-right: 10px;
    }

    .table {
      margin-right:auto;
      margin-left:auto;
      width:100%;
    }
</style>

<div class="matrix-container">
    <div class="matrix-labels"><div class="matrix-label-content">Other</div></div>
    <div class="matrix-row">
        <div class="matrix-labels"><div class="matrix-label-content">You</div></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th class="bg-dark text-white">Cooperate</th>
                    <th class="bg-dark text-white">Defect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="bg-dark text-white">Cooperate</th>
                    <td>({{ payoff_matrix.0.0.0 }}, {{ payoff_matrix.0.0.1 }})</td>
                    <td>({{ payoff_matrix.0.1.0 }}, {{ payoff_matrix.0.1.1 }})</td>
                </tr>
                <tr>
                    <th class="bg-dark text-white">Defect</th>
                    <td>({{ payoff_matrix.1.0.0 }}, {{ payoff_matrix.1.0.1 }})</td>
                    <td>({{ payoff_matrix.1.1.0 }}, {{ payoff_matrix.1.1.1 }})</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% if ancestor_advice %}
<div>
  <div>
    <span>Ancestor Advice</span>
  </div>
  <div>
  <textarea class="form-control" rows="3" readonly>{{ ancestor_advice }}</textarea>
  </div>
</div>
<hr>
{% endif %}
<div>

</div>

{{ formfields }}

{{ next_button }}

{% endblock %}